layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane
    pane size=2 borderless=true {
        plugin location="https://github.com/dj95/zjstatus/releases/download/v0.9.2/zjstatus.wasm"
        //plugin location="zellij:status-bar"
    }
}
